name: Publish

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'The version to publish (i.e. v1.0.0)'
        required: true

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/github-script@v6
        env:
          VERSION: ${{ inputs.version }}
        with:
          script: |
            const publish = require('./.github/scripts/publish.js');
            publish({context, octokit: github});
